Package: com.ps.amber
Name: Amber
Depends: mobilesubstrate, gsc.camera-flash, firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Amber-ify your LED torch.
Author: PoomSmart
Maintainer: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/amber.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/amber.json
